@import "tailwindcss";

@theme {
  --color-zagfer-50: #f0f9ff;
  --color-zagfer-100: #e0f2fe;
  --color-zagfer-500: #0ea5e9;
  --color-zagfer-600: #0284c7;
  --color-zagfer-900: #0c4a6e;
  --color-zagfer-yellow: #fde047;

  --font-sans: 'Inter', sans-serif;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    font-family: var(--font-sans);
  }
}